{% extends "layout.html.twig" %}

{% block content %}
    {% if form %}
        <p style="text-indent: 40px">
            Интернет-магазин-склад Altermoda.ru реализует свои товары через широкую дилерскую сеть.
            Пожалуйста, выберите регион, укажите Ваш e-mail (подтверждение антиспама) и Вы сможете получить список дилеров в Вашем регионе.
            </br>
            Некоторые дилеры имеют пункты выдачи заказов, другие отправляют товары и в другие регионы.
        </p>
        <p style="text-indent: 40px">
            Если у Вас есть вопросы или предложения по работе сервиса, направляйте их на info@altermoda.ru
        </p>
        <form action="{{ path('sale_request') }}" method="get" class="form-request">
            <fieldset>
                <div class="form-group">
                    {{ form_label(form.region) }}
                    {{ form_widget(form.region, {'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="input-row">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    <div class="alert alert-error {{ form_errors(form.email)|length < 1 ? 'invisible' : '' }}">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="actions">
                    <button type="submit" class="btn btn-primary">Найти</button>
                </div>
            </fieldset>
        </form>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Регион</td>
                <td>Дата завершения закупки</td>
                <td>Ссылка</td>
                <td style="text-align: center">Доставка в другие регионы</td>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
                <tr>
                    <td>{{ regionDescr[sale.region] }}</td>
                    <td>{{ sale.saleDate|date('d-m-Y') }}</td>
                    <td><a href="{{ sale.link }}">{{ sale.link }}</a></td>
                    <td style="text-align: center">{{ sale.hasTransportDelivery ? 'Да' : 'Нет' }}</td>
                </tr>
            {% else %}
                {% if app.request.method == 'POST' %}
                    <tr>
                        <td>Закупок не найдено</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% else %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% if sales|length > 0 %}
        <div class="pagerfanta">
            {{ pagerfanta(sales, 'twitter_bootstrap') }}
        </div>
    {% endif %}
{% endblock %}