{% extends "layout.html.twig" %}

{% block content %}
    {% if form %}
        <form action="{{ path('sale_request') }}" method="post" class="form-request">
            <fieldset>
                <div class="form-group">
                    {{ form_label(form.region) }}
                    {{ form_widget(form.region, {'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="actions">
                    <button type="submit" class="btn btn-primary">Найти</button>
                </div>
                <div>
                    {% if regionSearch %}<span>Найдено по региону: {{ regionDescr[regionSearch] }}</span>{% endif %}
                </div>
            </fieldset>
        </form>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Регион</td>
                <td>Дата закупки</td>
                <td>Ссылка</td>
                <td style="text-align: center">Отправляет транспортной компанией</td>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
                <tr>
                    <td>{{ regionDescr[sale.region] }}</td>
                    <td>{{ sale.saleDate|date('d-m-Y') }}</td>
                    <td><a href="{{ sale.link }}">{{ sale.link }}</a></td>
                    <td style="text-align: center">{{ sale.hasTransportDelivery ? 'Да' : 'Нет' }}</td>
                </tr>
            {% else %}
                {% if app.request.method == 'POST' %}
                    <tr>
                        <td>Закупок не найдено</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% else %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% if sales|length > 0 %}
        <div class="pagerfanta">
            {{ pagerfanta(sales, 'twitter_bootstrap') }}
        </div>
    {% endif %}
{% endblock %}